### Insérer des données:

```sql
INSERT INTO utilisateurs (nom, email, age) 
VALUES 
    ('Alice Dupont', 'alice@example.com', 25),
    ('Bob Martin', 'bob@example.com', 30);
```

- Vérifier les données insérées :

```sql
SELECT * FROM utilisateurs;
```

### Mettre à jour et supprimer des données:

- modifier un utilisateur

```sql
UPDATE utilisateurs 
SET age = 35 
WHERE email = 'bob@example.com';
```

- supprimer un utilisateur

```sql
DELETE FROM utilisateurs 
WHERE email = 'alice@example.com';
```

### Ajout de relations entre différentes tables:

- On crée une table commandes liée aux utilisateurs :

```sql
CREATE TABLE commandes (
    id SERIAL PRIMARY KEY,
    utilisateur_id INT REFERENCES utilisateurs(id) ON DELETE CASCADE,
    produit VARCHAR(100) NOT NULL,
    prix DECIMAL(10,2) NOT NULL,
    date_commande TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

Explication :

- utilisateur_id est une clé étrangère (FOREIGN KEY) qui référence utilisateurs(id).
- ON DELETE CASCADE supprime automatiquement les commandes d’un utilisateur s’il est supprimé.

- ajout d'élément dans une table liée

```sql
INSERT INTO commandes (utilisateur_id, produit, prix) 
VALUES 
    (1, 'Ordinateur Portable', 1200.99);
```

- Afficher les commandes avec le nom des utilisateurs (via JOIN) :

```sql
SELECT utilisateurs.nom, commandes.produit, commandes.prix 
FROM commandes 
JOIN utilisateurs ON commandes.utilisateur_id = utilisateurs.id;
```