### Insérer des données:

```sql
INSERT INTO utilisateurs (nom, email, age) 
VALUES 
    ('Alice Dupont', 'alice@example.com', 25),
    ('Bob Martin', 'bob@example.com', 30);
```

- Vérifier les données insérées :

```sql
SELECT * FROM utilisateurs;
```

### Mettre à jour et supprimer des données:

- modifier un utilisateur

```sql
UPDATE utilisateurs 
SET age = 35 
WHERE email = 'bob@example.com';
```

- supprimer un utilisateur

```sql
DELETE FROM utilisateurs 
WHERE email = 'alice@example.com';
```

### Ajout de relations entre différentes tables:

- On crée une table commandes liée aux utilisateurs :

```sql
CREATE TABLE commandes (
    id SERIAL PRIMARY KEY,
    utilisateur_id INT REFERENCES utilisateurs(id) ON DELETE CASCADE,
    produit VARCHAR(100) NOT NULL,
    prix DECIMAL(10,2) NOT NULL,
    date_commande TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);